<h1>Exteriores</h1>
<p>
	<label>
		<input type="checkbox" class="filled-in" checked="checked" />
        <span>Faros</span>
        <span>Cristales</span>
        <span>Calaveras</span>
        <span>Espejos</span>
        <span>Limpiadores</span>
        <span>Antena radio</span>
        <span>Moldura</span>
        <span>Emblemas</span>
        <span>Tapón gasolina</span>
        <span>Placas</span>
        <span>Tapónes de centro del rin</span>
        <span>Llantas</span>
        <span>Carrocería</span>
        <span>Tapón gasolina</span>
    </label>
</p>