@import 'materialize';
@import 'foundation-icons';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

body{
	margin: 0px !important;
	min-height: 100% !important;
}

.brand-logo{
	padding-left: 10px !important;
	padding-right: 10px !important;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.brand-logo:hover{
	background-color: rgba(0, 0, 0, 0.1) !important;
}



.container {
	min-height:100% !important;
	position:relative !important;
	max-width: 100% !important;
	min-width: 100% !important;
}

.body {
	padding:10px;
	padding-bottom:100px;   /* Height of the footer */
}
.footer {
	position: fixed;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
	
	background: #343436;
	z-index: 100
}

.footer-container{
	color: #d0d5e1;
	text-align: center;
}

img{
	width: 130px;
	height: 130px;
}

.signature_pad {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.signature_pad_body canvas {
  width: 100%;
  height: 100%;
  border: dotted #444;
  background: #edf0f4;
}

.signature_pad_body #danos_preexistentes {
  width: 300px;
  height: 350px;
  border: dotted #444;
  background: #edf0f4;
}

#slider .rs-handle  {
    background-color: transparent;
    border: 8px solid transparent;
    border-right-color: black;
    margin: -6px 0px 0px 14px !important;
    border-width: 6px 104px 6px 4px;
}
#slider .rs-handle:before  {
    display: block;
    content: " ";
    position: absolute;
    height: 22px;
    width: 22px;
    background: black;
    right: -11px;
    bottom: -11px;
    border-radius: 100px;
}
#slider .rs-tooltip  {
    top: 75%;
    font-size: 11px;
}
#slider .rs-tooltip div  {
    text-align: center;
    background: orange;
    color: white;
    border-radius: 4px;
    padding: 1px 5px 2px;
    margin-top: 4px;
}
#slider .rs-range-color  {
    background-color: #009688;
}
#slider .rs-path-color  {
    background-color: #e0f2f1;
}

.cancel {
	background-color: #f57c00 ;
}
.no-padding>.s6>div>.input-field{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}