.header{
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.big{
	font-size: 2em;
}

.colS5{
	width: 20%;
	margin-left: auto;
	left: auto;
	right: auto;
	float: left;
	box-sizing: border-box;
	padding: 0 0.75rem;
	min-height: 1px;
}

.colS4{
	width: 25%;
	margin-left: auto;
	left: auto;
	right: auto;
	float: left;
	box-sizing: border-box;
	padding: 0 0.75rem;
	min-height: 1px;
}

.colS3{
	width: 33.3333333333%;
	margin-left: auto;
	left: auto;
	right: auto;
	float: left;
	box-sizing: border-box;
	padding: 0 0.75rem;
	min-height: 1px;
}

.colS2{
	width: 50%;
	margin-left: auto;
	left: auto;
	right: auto;
	float: left;
	box-sizing: border-box;
	padding: 0 0.75rem;
	min-height: 1px;
}

.colS1{
	width: 100%;
	margin-left: auto;
	left: auto;
	right: auto;
	float: left;
	box-sizing: border-box;
	padding: 0 0.75rem;
	min-height: 1px;
}

.row{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

img{
	width: 180px;
	height: 140px;
}

hr{
	background: #1a237e;
	color: black;
	border-style: inset;
    border-width: 1px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.imageDanos{
	width: 320px;
	height: 320px;
	margin-top: 2em;
}

.imagFirma{
	width: 120px;
	height: 100px;
	margin-top: 2em;
	margin-bottom: -1.5em;
}

.linea{
	background: #1a237e;
	color: black;
	border-style: inset;
    border-width: 1px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-top: 1em;
	margin-bottom: -1em;
}